<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ASUS/IdeaProjects/HWSeleniumAdvancedFramework">
        <classes>
            <class name="com.learningselenium.tests.VWO.TestVWOInvalidLogin1">
                <methods>
                    <include name="testVWOInvalidLogin1"/>
                </methods>
            </class>
            <class name="com.learningselenium.tests.VWO.TestVWOValidLogin2">
                <methods>
                    <include name="TestVWOValidLogin2"/>
                </methods>
            </class>

            <class name="com.learningselenium.tests.VWO.TestVWOValidLogin2">
                <methods>
                    <include name="TestVWOFreeTrial3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>